.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-descrption {
    margin-bottom: 20px;
}

.product-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

.product-skuCode {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.order-service {
    margin-top: 20px;
}

.order-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order-button:hover {
    background-color: #218838;
}

.react-loading {
    margin: 0 auto;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }
  
.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}